
.blurContainer, .blurBottom{
    margin: auto;
    background-color: rgb(7, 68, 20);
}

.blurText{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
    height: 300px;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}
