.navbar {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
}

.homeContainer, .homeBottom{
    background-color: rgb(236, 166, 199);
    display: flex;
    margin: auto;
}

.homeText{
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
    height: 300px;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}
