.layeredContainer {
    margin: auto;
    background-color: rgb(231, 231, 231);
    display: flex;
}

.layeredText {
    display: flex;
    color: rgb(94, 94, 94);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
    height: 200px;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.parallaxContainer::-webkit-scrollbar{
    display: none;
}

.parallaxText2, .parallaxText {
    padding: 10px;
    font-size: x-large;
    color: rgb(231, 231, 231);
}

.parallaxText2{
    text-align: right;
    padding-right: 100px;
}

.parallaxText3{
    text-align: center;
    font-size: xxx-large;
    color: rgb(94, 94, 94);
}