.reversed-container, .reversed-bottom{
    background-color: #98c1d3;
    display: flex;
    margin: auto;
}

.reversed-text{
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
    height: 300px;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.reversed-bottom{
    height: 400px;
}